<h2>Welcome (again) to The Hidden Portal Podcast Website</h2>
<h4>On this site, you can keep an see when the next show will be out and which guests will be present. You can also critique and review podcasts.</h4>
<h4>Please select from the variety of options below: </h4>

<p>Podcast List</p>
<p>Become a podcast guest</p>
<p>Join Project Portal</p>
<p>User information</p>
<p>Access User Forum</p>
