<h1>Editing personality</h1>

<%= render "form", personality: @personality %>

<br>

<div>
  <%= link_to "Show this personality", @personality %> |
  <%= link_to "Back to personalities", personalities_path %>
</div>
